APP_PORT=8000

TZ=Europe/Berlin

# PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_DB=db_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5434

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_SECRET_KEY=SECRET_KEY

## Some App configuration
QDRANT_URL=qdrant_url
DATA_PATH=data_path
HF_TOKEN=hhugging_face_token
MISTRAL_API_KEY=your_mistal_api_token
TELEGRAM_TOKEN=your_telegram_token
FASTAPI_URL=http://127.0.0.1:8000